body {
	margin: 0;
	background-color: #efefef !important;
}

.filter-appoitment-container #main_loading {
	height: 0;
}
.filter-appoitment-container #main_loading .loading {
	position: absolute;
	top: 50%;
}

.main-home-nav {
	color: white;
}
